.profcard {
    background-color: #ececec;
    width: 25%;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
}

.fixedProfCard {
    position: fixed;
    right: 0;
    margin-right: 20px;
    height: 500px;
}

.divide {
    width: 100%;
    height: 1px;
    background-color: #c0c0c0;
    margin-top: 40px;
    margin-bottom: 40px;
}

.profileCard {
    position: absolute;
    height: 400px;
}