.titleproj {
    height: 600px;
    border-radius: 8px;
    border: 1px solid white (185, 115, 187);
    overflow: scroll;
    left: 0;
    width: 20%;
    position: absolute;
}

.projmarjin {
    margin-left: 200px;
}

@media screen and (max-width: 1000px) {
    .titleproj {
        visibility: hidden;
    }
}